.summary h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.summary h3 {
  margin-bottom: 40px;
}
.cart-detail {
  margin-left: 30px;
}
.cart-detail button {
  display: block;
}
.btn-clear-cart {
  background-color: #ff3030;
  color: white;
  width: 90%;
  padding: 15px;
  margin-bottom: 20px;
}

.btn-review-order {
  background-color: #ff9900;
  color: white;
  width: 90%;
  padding: 15px;
}
